body {
  background-color: #2b2d42;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #4ecdc4;
  font-size: 6rem;
  margin: 40px 0;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.dice p {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #9ef3c1;
  margin: 10px 0;
}

img {
  width: 180px;
  background-color: #8b0000;
  border-radius: 25px;
  padding: 15px;
}
