body {
  background-color: #2b2d42;
  text-align: center;
  color: #9ef3c1;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 5rem;
  color: #4ecdc4;
  margin: 30px auto;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dice p {
  font-size: 2rem;
  color: #9ef3c1;
}

img {
  width: 150px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #8b0000;
  padding: 10px;
}
